#!/usr/bin/make -f

include /usr/share/hardening-includes/hardening.make
CFLAGS += $(HARDENING_CFLAGS)
LDFLAGS += $(HARDENING_LDFLAGS)

%:
	dh $@

override_dh_auto_configure:
	if [ -f aclocal/config.sub ]; then \
		mv aclocal/config.sub aclocal/config.sub_ORIG; \
		ln -sf /usr/share/misc/config.sub aclocal/; \
	fi
	if [ -f aclocal/config.guess ]; then \
		mv aclocal/config.guess aclocal/config.guess_ORIG; \
		ln -sf /usr/share/misc/config.guess aclocal/; \
	fi
	dh_auto_configure -- --prefix=/usr --mandir=\$${prefix}/share/man \
	--sysconfdir=/etc --localstatedir=/var/lib/amavis \
	--with-working-dir=/var/lib/amavis/tmp \


override_dh_auto_install:
	dh_auto_install --destdir=debian/amavisd-milter

override_dh_auto_clean:
	dh_auto_clean
	rm -f config.sub config.guess config.status config.log
	if [ -L aclocal/config.sub ]; then \
		rm -f aclocal/config.sub; \
		mv aclocal/config.sub_ORIG aclocal/config.sub; \
	fi
	if [ -L aclocal/config.guess ]; then \
		rm -f aclocal/config.guess; \
		mv aclocal/config.guess_ORIG aclocal/config.guess; \
	fi

override_dh_installchangelogs:
	dh_installchangelogs CHANGES

override_dh_installdocs:
	dh_installdocs -Namavisd-milter-dbg
	dh_installdocs -pamavisd-milter-dbg --link-doc=amavisd-milter

override_dh_installinit:
	dh_installinit -R

override_dh_strip:
	dh_strip --dbg-package=amavisd-milter-dbg
